@font-face {
	font-family: abr;
	src : url(../fonts/alex-brush/AlexBrush-Regular.ttf);
}

html,body {
    height:100%;
    margin:0px;

}

body{
    display:flex;
    flex-direction:column;
    
}
header,footer{
    height: 0.49rem;
    color:#fff;
    background:#4390ee;
    font-family: abr;
}

h1{
    padding:0;
    margin:0;
    text-align:center;
    font-size:0.32rem;
    /*line-height:49px;*/
    line-height: 0.49rem;
}

main{
    flex:1;
    background:#eee;
    position: relative;
}


.swiper-container{
	height: 100%;
	position: absolute;
	width: 100%;
}
